// Here you can add other styles

.card {
  border: none;
}

.card-title {
  margin: 0;
  padding: .15rem 0;
  font-weight: 500;
  font-size: 1rem;
}

.c-sidebar-nav {
  padding-top: .5rem;

  .c-sidebar-icon {
    min-width: 56px;
    text-align: center;
    margin-left: -16px;

    i {
      font-size: 1rem;
    }
  }
}

.c-footer {
  position: sticky;
  bottom: 0;
}

.dropzone {
  border-radius: 5px;
  border: 1px dashed silver;
}