<div id="manage-<%= name %>-dropzone" class="manage-dropzone"></div>

<script>
  $(document).ready(function () {
    $("div#manage-<%= name %>-dropzone").dropzone({
      url: '<%= url_for({controller: name.pluralize, action: :create }) %>',
      paramName: '<%= name %>[document]'
    });
  })
</script>